.f-float {
  justify-content: space-around;
  background: white;
  display: flex;
  box-shadow: var(--boxShadow);
  border-radius: 17px;
  align-items: center;
  height: 4.5rem;
  padding: 0px 28px 0px 0px;
}
.f-float > img {
  transform: scale(0.4);
}
.f-float > span {
  font-family: sans-serif;
  font-size: 16px;
  /* yahan ye color add kia hy bad mein dark mode k waqt */
  color: black;
}
